In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/master/data/retail-data/all/online-retail-dataset.csv')
df

In [ ]:
df.info()

In [ ]:
df = df[df['CustomerID'].notnull()].reset_index(drop=True)

In [ ]:
df.info()

In [ ]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [ ]:
df['CustomerID'] = df['CustomerID'].astype(int).astype(str)

In [ ]:
df.describe()

In [ ]:
df[df['Quantity']<0]

In [ ]:
df = df[df['Quantity']>0].reset_index(drop=True)

In [ ]:
df.describe()

In [ ]:
#Harga
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [ ]:
df.head()

In [ ]:
#Recency
df.groupby('CustomerID')['InvoiceDate'].last()

In [ ]:
# Frequency
df.groupby('CustomerID')['InvoiceNo'].count()

In [ ]:
#pricy
df.groupby('CustomerID')['TotalPrice'].sum()

In [ ]:
data = df.groupby('CustomerID').agg({
    'InvoiceDate' : 'last', 'InvoiceNo' : 'count', 'TotalPrice' : 'sum'
})
data

In [ ]:
most_recent_date = df['InvoiceDate'].max()
most_recent_date

In [ ]:
data['DurationLastPurchase'] = (most_recent_date - data['InvoiceDate']).dt.days

In [108]:
data

             InvoiceDate  InvoiceNo  TotalPrice  DurationLastPurchase
0    2011-01-18 10:01:00          1    77183.60                   325
1    2011-12-07 15:52:00        182     4310.00                     1
2    2011-09-25 13:13:00         31     1797.24                    74
3    2011-11-21 09:51:00         73     1757.55                    18
4    2011-02-02 16:01:00         17      334.40                   309
...                  ...        ...         ...                   ...
4334 2011-03-07 09:52:00         10      180.60                   277
4335 2011-06-12 10:53:00          7       80.82                   180
4336 2011-12-02 11:43:00         12      178.05                     7
4337 2011-12-06 12:02:00        756     2094.88                     3
4338 2011-10-28 09:29:00         70     1837.28                    42

[4339 rows x 4 columns]

In [105]:
data = data.reset_index(drop=True)

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4339 entries, 0 to 4338
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   InvoiceDate           4339 non-null   datetime64[ns]
 1   InvoiceNo             4339 non-null   int64
 2   TotalPrice            4339 non-null   float64
 3   DurationLastPurchase  4339 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 135.7 KB